#btt1
{
    display: inline-block;
}
#btt2
{
    display: inline-block;
}
#btt3
{
    display: inline-block;
}
#btt4
{
    display: inline-block;
}
#btt5
{
    display: inline-block;
}
#btt6
{
    display: inline-block;
}
#btt7
{
    display: inline-block;
}
#btt8
{
    display: inline-block;
}
#btt9
{
    display: inline-block;
}
#btt10
{
    display: inline-block;
}
#btt11
{
    display: inline-block;
}
#btt12
{
    display: inline-block;
}
#btt13
{
    display: inline-block;
}
#btt14
{
    display: inline-block;
}
#btt15
{
    display: inline-block;
}
#btt16
{
    display: inline-block;
}
#btt17
{
    display: inline-block;
}
#btt18
{
    display: inline-block;
}
#btt19
{
    display: inline-block;
}
#btt20
{
    display: inline-block;
}
#btt21
{
    display: inline-block;
}
#btt22
{
    display: inline-block;
}
#btt23
{
    display: inline-block;
}
#btt24
{
    display: inline-block;
}
#btt25
{
    display: inline-block;
}
#btt26
{
    display: inline-block;
}
#btt27
{
    display: inline-block;
}
#btt28
{
    display: inline-block;
}
#btt29
{
    display: inline-block;
}
#btt30
{
    display: inline-block;
}

.take1
{


    background-color:#111;
    color:#ffffff;
    width:100%;


    font-size:20px;
    border-radius: 2px;


    height: 20px;
}
.txtt1
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}
.txtt2
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}

.txtt3
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt4
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt5
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt6
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt7
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt8
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt9
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt10
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt11
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt12
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt13
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt14
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt15
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt16
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt17
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt18
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt19
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt20
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt21
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt22
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt23
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt24
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt25
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt26
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt27
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt28
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt29
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
.txtt30
{
    background-color:#111;

    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:25px;
    display: none;
    opacity:0.5;
}  
#bt1
{
    border-radius: 100%;
    font-family:cursive;
    font-size:x-large;
    background:lightslategray;
    border-color:yellowgreen;
    margin-left: -300px;
    opacity:0.5;

}
#sub
{
    font-weight:normal;
    font-family:cursive;


    word-spacing:1px;
    text-align:center;
}

#txtt
{
    font-weight:normal;
    font-family:cursive;
    color:#000000;
    font-size:20px;
    
}

#bottomArrow
{
    margin-left: 45%;
    display:inline-block;
    width: 85px;
    cursor:pointer;
    opacity: 0.8;
    height:30px;
    display:none;
}

#circle1
{
    border-radius:50%;
    font-size: 40px;

    background:#ffffff;

    margin-left:10%;

    width: 20px;
    height:20px;
    opacity: 0.3;
    cursor: pointer;

}
#nav
{

    margin-left:910;
    height:75%;
    width: 30%;
    background:darkslategray;
    border-radius:5px;
    font-weight:normal;
    font-family:"Helvetica Neue", Helvetica,Arial, sans-serif;
    color:#ffffff;
    font-size:20px;
    overflow-y:scroll; 
    opacity:0.7;
    width:380px;
    box-shadow: 0px 0px 5px 5px #111;
}
